<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><h2><i class="far fa-grin-squint-tears"></i></h2>The Dadabase</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-md">
        <div class="row text-center" style="color:crimson; font-family: 'Ravi Prakash', cursive; font-size:100px;">
            
            <div class="col lg-12">
                <h3>Welcome to the Dadabase! Please log in below.</h3>
            </div>
            
        </div>
        <div class="row align-items-center">
            <div class="col lg-3"></div>
            <div class="col lg-6">
                <div class="card" style="background-color: darkcyan;">
                    <div class="card-body" style="color:black;">
                        <p class="lead text-center" style="color:crimson; font-family: 'Creepster', cursive; font-size:30px;">Today's Daily Groaner:</p>
                        {{> jokeoftheday }}
                    </div>
                </div>
            </div>
            <div class="col lg-3"></div>
        </div>
        <div class="row align-items-center">
            <div class="col lg-3"></div>
            <div class="col lg-6">
                <div class="card" style="background-color: darkgoldenrod; color:white; font-family: 'Donegal One', serif; font-size:20px;">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="usernameInput" class="form-label">Username</label>
                                <input type="email" class="form-control" id="usernameInput"
                                    aria-describedby="userNameHelp">
                                <div id="userNameHelp" class="form-text" style="color: white;">Usernames are case-sensitive.</div>
                            </div>
                            <div class="mb-3">
                                <label for="passInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passInput">
                            </div>
                            <button type="submit" class="btn btn-success id:"loginButton">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col lg-3"></div>
        </div>
      
        <div class="row">
        <div class="col-lg-3">

            <div class="card" style="background-color: black; border-width:5px; height:300px; width:300px; margin-left:0px;">

              <img class="card-img" src="../public/images/jokeImg3.png" alt="Card image">
            </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">
            <div class="card" style="background-color:black; border-width:5px; height:300px; width:300px; margin-right:0px;">

                <img class="card-img" src="../public/images/jokeImg2.png" alt="Card image">
            </div>
        </div>
      </div>
    </div>
